.App {
	text-align: center;
}

.App-logo {
	height: 20vmin;
	/* padding: 0 0 250px; */
  pointer-events: none;
}

.App-header,
.App-body,
.App-footer {
	margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header {
	padding: 40px 0 0 0;
	letter-spacing: 30px;
	font-weight: 200;
	min-height: 5vh;
	font-size: 45px;
}

.App-body {
	padding-top: 0;
	min-height: 70vh;
}

.App-header,
.App-body {
  background-color: #0c0c0cfd;
	color: white;
}

.App-footer {
	min-height: 20vh;
	color: rgb(160, 150, 150);
	background-color: #253761fd;
}

.App-img-wrapper {
	margin-bottom: 80px;
}

.App-body-mid {
	padding: 20px 20%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}